# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
d = {'Evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'],
    'hp': [45,39,44,45],
    'name': ['Bulbasaur','Charmander','Squirtle','Caterpie'],
    'pokedex': ['yes','no','yes','no'],
    'type': ['grass','fire','water','bug']
}

### Step 3. Assign it to a variable called pokemon

In [ ]:
pokemon = pd.DataFrame(d)

In [10]:
pokemon

    Evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [11]:
pokemon = pokemon[['name','type','hp','Evolution','pokedex']]

In [12]:
pokemon

         name   type  hp   Evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [14]:
pokemon['place'] = ['A','B','C','D']

/var/folders/b7/64294z_j16d0t1nszkgct6_c0000gn/T/ipykernel_69573/3809676543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place'] = ['A','B','C','D']

In [15]:
pokemon

         name   type  hp   Evolution pokedex place
0   Bulbasaur  grass  45     Ivysaur     yes     A
1  Charmander   fire  39  Charmeleon      no     B
2    Squirtle  water  44   Wartortle     yes     C
3    Caterpie    bug  45     Metapod      no     D

### Step 6. Present the type of each column

In [18]:
print(pokemon.dtypes)

name         object
type         object
hp            int64
Evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [19]:
pokemon.iloc[0:2]

         name   type  hp   Evolution pokedex place
0   Bulbasaur  grass  45     Ivysaur     yes     A
1  Charmander   fire  39  Charmeleon      no     B

In [21]:
pokemon.loc[2,'name']

'Squirtle'